.caseStudyCardContainer {
  width: calc(50% - 1vmin);
  border-radius: 1vmin;
  //   background: #000;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgb(189, 189, 189);
  @media screen and (max-width: 900px) {
    // grid-template-columns: auto;
    width: 100%;
  }
}
.cardImage {
  width: 100%;
}

.cardDataSection {
  padding: 3vmin;
}
.cardHeading {
  font-weight: 900;
  color: rgb(44, 44, 44);
  font-size: 5vmin;
  font-weight: 200;
  padding-top: 1vmin;
  @media screen and (max-width: 900px) {
    // grid-template-columns: auto;
    font-size: 8vmin;
  }
}
.cardPara {
  color: rgb(49, 49, 49);
  padding: 2vmin 0;
  font-size: 3vmin;
  @media screen and (max-width: 900px) {
    // grid-template-columns: auto;
    font-size: 4.5vmin;
    padding: 4.5vmin 0;
  }
}
.cardLink {
  text-decoration: none;
  color: #0353b1;
  font-size: 3vmin;
  display: flex;
  align-items: center;
  & svg {
    height: 3vmin;
    width: 3.5vmin;

    stroke: #0353b1;
  }
  @media screen and (max-width: 900px) {
    // grid-template-columns: auto;
    & svg {
      height: 5vmin;
      width: 5.5vmin;
      stroke: #0353b1;
    }
    font-size: 4.5vmin;
  }
}

.cardCommingSoon {
  font-size: 3vmin;

  color: rgb(125, 125, 125);
  display: flex;
  align-items: center;
  & svg {
    height: 3vmin;
    width: 3.5vmin;
    stroke: rgb(112, 112, 112);
  }
  @media screen and (max-width: 900px) {
    // grid-template-columns: auto;
    & svg {
      height: 5vmin;
      width: 5.5vmin;
      stroke: rgb(112, 112, 112);
    }
    font-size: 4.5vmin;
  }
}
