.footerContainer {
  background: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > a {
    font-size: 2vmin;
    padding: 1vh;
    margin: 0.5vh 0;
    color: black;
    @media screen and (max-width: 900px) {
      // grid-template-columns: auto;
      font-size: 4.5vmin;
    }
  }
}
