.mainNavContainer {
  width: 100%;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
}
.logo {
  padding-left: 2vh;
  text-decoration: none;
  font-size: 4vh;
  color: #832a85;
  font-weight: 900;
  flex: 1;
  @media screen and (max-width: 900px) {
    font-size: 3vh;
  }
}

.navMenu {
  // padding-right: 2vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0%;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  align-items: center;
  justify-content: center;
  transition-duration: 200ms;
}

.active {
  left: 0%;
  z-index: 1;
}

.closeButton {
  position: absolute;
  top: 2vmin;
  right: 2vmin;
}
